# Git and GitHub
.github/
.gitignore
.gitattributes

# Gradle
.gradle/
**/build/

# Docker
.dockerignore
Dockerfile*

# Unused resources
resources/3dcitydb
resources/javadoc
resources/license
resources/samples
LICENSE
*.md
